<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.UserMapper">

	<!-- 插入用户数据 -->
	<!-- Integer addnew(User user) -->
	<insert id="addnew">
	INSERT INTO t_user (
	    username, password,
	    salt, gender,
	    phone, email,
	    avatar, is_delete,
	    created_user, created_time,
	    modified_user, modified_time
	) VALUES (
	    #{username}, #{password},
	    #{salt}, #{gender},
	    #{phone}, #{email},
	    #{avatar}, #{isDelete},
	    #{createdUser}, #{createdTime},
	    #{modifiedUser}, #{modifiedTime}
	)
	</insert>
	
	<!-- 更新用户的密码 -->
	<!-- Integer updatePassword(
	    @Param("uid") Integer uid, 
	    @Param("password") String password, 
	    @Param("modifiedUser") String modifiedUser, 
	    @Param("modifiedTime") Date modifiedTime) -->
	<update id="updatePassword">
		UPDATE 
		    t_user
		SET 
		    password=#{password},
		    modified_user=#{modifiedUser},
		    modified_time=#{modifiedTime}
		WHERE 
		    uid=#{uid}
	</update>
	
	<!-- 修改用户资料 -->
	<!-- Integer updateInfo(User user) -->
	<update id="updateInfo">
		UPDATE 
		    t_user
		SET 
		    phone=#{phone}, email=#{email}, 
		    gender=#{gender}, 
		    modified_user=#{modifiedUser}, 
		    modified_time=#{modifiedTime}
		WHERE 
		    uid=#{uid}
	</update>
	
	<!-- 更新头像 -->
	<!-- Integer updateAvatar(
		@Param("uid") Integer uid, 
		@Param("avatar") String avatar, 
		@Param("modifiedUser") String modifiedUser, 
		@Param("modifiedTime") Date modifiedTime) -->
	<update id="updateAvatar">
		UPDATE 
			t_user 
		SET 
			avatar=#{avatar}, 
			modified_user=#{modifiedUser}, 
			modified_time=#{modifiedTime} 
		WHERE 
			uid=#{uid}
	</update>

	<!-- 根据用户名查询用户信息 -->
	<!-- User findByUsername(String username) -->
	<select id="findByUsername"
		resultType="cn.tedu.store.entity.User">
		SELECT 
			uid, username, 
			password, salt,
			avatar,  
			is_delete AS isDelete
		FROM 
			t_user 
		WHERE 
			username=#{username}
	</select>

	<!-- 根据用户id查询用户信息 -->
	<!-- User findByUid(Integer uid) -->
	<select id="findByUid"
		resultType="cn.tedu.store.entity.User">
		SELECT 
			username, phone, 
			email, gender,
			password, salt, 
			is_delete AS isDelete
		FROM 
			t_user 
		WHERE 
			uid=#{uid}
	</select>

</mapper>










